{% render 'partials/head.liquid', title: 'Homepage', mainheading: '<span>M</span>illedoni' , secondheading: 'Finding and sharing gift ideas' %}

<main>
    <section class="search-Tab">
        <div class="suggestion-Box">
            <h3>I'm looking for a gift for...</h3>
            <div class="suggestion1">
                <p>Who is him/her</p>
            </div>
            <div class="suggestion2">
                <p>age</p>
            </div>
            <div class="suggestion3">
                <p>For which occasion</p>
            </div>
        </div>
        <search class="search-Item-Box">
            <form action="">
              <label for="search">I'm looking for a gift for..</label>
              <div class="mic-Icon"></div>
              <input type="search" id="search" name="q" />
              <button type="submit">
                <div class="magnifying-Glass"></div>
              </button>
            </form>
        </search>
        <div class="show-Active-Users-Box">
            <ul>
                <li class="user1"><img src="/images/user1.png" alt=""></li>
                <li class="user2"><img src="/images/user2.png" alt=""></li>
                <li class="user3"><img src="/images/user3.png" alt=""></li>
                <li class="user-Extra"><img src="/images/usersExtra.png" alt="Over +1 Million  Users"></li>
            </ul>
            <p>Unisciti alla nostra community di spotters</p>
        </div>
    </section>
    <section class="results-Tab">
        <div class="gift-Box-Create-List">
            <a href="/profile">
                <p>Create a list for your best friend</p>
                <img src="/images/girl1.png" alt="">
                <button>Register or Log in</button>
            </a>
        </div>
            {% for gift in giftresult %}
                <div class="gift-Box">
                        <a href="/gift/{{ gift.id }}">
                        <ul>
                            <li>
                                <form action="/save-gift" method="POST">
                                    <input type="hidden" name="giftId" value="{{ gift.id }}">
                                    <button type="submit" class="add-List-Button">
                                        <div class="list-Icon">
                                            <div class="plus-Icon">+</div>
                                        </div>
                                    </button>
                                </form>
                            </li>
                            <li><img src="{{ gift.image }}" alt=""></li>
                            <li>{{ gift.name }}</li>
                            <li>{{ gift.spotter }}</li>
                            <li><img src="/images/girl1.png" alt=""><img src="/images/user1.png" alt="">+{{ gift.saved }}</li>
                            <li><img src="/images/gifticon.png" alt="">+{{ gift.given }}</li>
                        </ul>
                    </a>
                </div>
            {% endfor %}
            <a href="/mysavedgifts">View Saved Items</a>
    </section>
</main>