{% render 'partials/head.liquid', title: 'My Liked Gifts', logo: '<span><img src="/images/schaarinM.png" alt="">M</span>ILLEDONI', slogan: 'Your saved gift ideas' %}

<main>
    <section class="liked-gifts">
        <h2>Your Saved Gifts</h2>
        {% if savedGifts.length > 0 %}
            <div class="gift-list">
                {% for gift in savedGifts %}
                    <div class="gift-Box">
                        <a href="/gift/{{ gift.id }}">
                            <article>
                                <img src="{{ gift.image }}" alt=""></li>
                                <h3>{{ gift.name }}</h3>
                                <p>{{ gift.spotter }}</p>
                                <img src="/images/girl1.png" alt=""><img src="/images/user1.png" alt=""><p>+{{ gift.saved }}<p>Saved</p>
                                <img src="/images/gifticon.png" alt=""><p>+{{ gift.given }}Given</p>
                            </article>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No gifts saved yet.</p>
        {% endif %}
    </section>
</main>